//variables colores

$fondo: #717D8C;
$contenedor: #2F343A;
$fuente-principal: #41AAC4;

//color-mixin
$mixin-color: #CB8047;




//colores hover
$fondo-hover: #717D8C;
$fuente-hover: #e1e1e1;

//tamaños fuentes

$fuente-parrafos:20px;
$fuente-nav:30px;
$fuente-titulos:25px;

//sombra

$sombra:5px 5px 10px black;

//tamaño cajas y bordes

$ancho:90%;
$margen:20px auto;
$redondeado:10px;
$padding:20px;